*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#162447;
}
.wrapper{
    height: 100px;
    width: 360px;
    background: linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    border-radius: 10px;
    cursor: pointer;
    animation: animate 1.5s linear infinite;
}
.wrapper .display{
    position: absolute;
    /* opacity: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background:#1A1B2F;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
}
.wrapper .display #time{
    line-height: 85px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate{
    100%{
        filter:hue-rotate(360deg)
    }
}